section.home-1
	.background
		img(src="/img/bg_banner.jpg", alt="")
	.caption
		.custom-container
			h1 Thiết kế website E-commerce theo xu hướng của thế giới cùng giải pháp bán hàng lý tưởng
section.home-2
	.row
		.col-12
			.title CÁNH CAM WEB DESIGN AGENCY
			h2 Với kinh nghiệm hơn 10 năm, Cánh Cam đã xây dựng thành công hơn 100 Website thương mại điện tử đang vận hành hiệu quả và vượt xa kỳ vọng
			p Chúng tôi đồng hành góp phần nâng cao giá trị tăng trưởng cùng những doanh nghiệp: <strong>Domino's Pizza, Samsonite, Lug.vn, Techzone, Murad, Vgs Shop, Thế giới nước hoa, Coop Mart Online…</strong> bằng những giải pháp tư vấn tổng thể và toàn diện kết hợp cùng những công nghệ hiện đại giúp Website của các doanh nghiệp luôn vận hành ổn định và dễ dàng mở rộng. Song song đó là việc kết nối linh động với các hệ thống ERP, CRM Shipping, cổng thanh toán trực tuyến và cả các phần mềm đặc thù riêng thích hợp cho nhu cầu của từng khách hàng khác nhau.
	.background
		img(src="/img/bg_sky.png", alt="")
	.drone
		img(src="/img/bg_rocket.png", alt="")
section.home-3(class="parallax-window" data-parallax="scroll" data-image-src="/img/bg_brand01.jpg")
section.home-4(class="parallax-window" data-parallax="scroll" data-image-src="/img/bg_brand02.jpg")