extends ../_layout.pug

block var
	- title = 'Home'
	- path = "home"
	- bodyClass = 'index-page'

block main
	.progress-bar#progress-bar
	section.home-1
		.background
			img(src="/img/bg_banner.jpg", alt="")
		.caption
			.custom-container
				h1 Thiết kế website E-commerce theo xu hướng của thế giới cùng giải pháp bán hàng lý tưởng
	section.home-2
		.row
			.col-12
				.title CÁNH CAM WEB DESIGN AGENCY
				h2 Với kinh nghiệm hơn 10 năm, Cánh Cam đã xây dựng thành công hơn 100 Website thương mại điện tử đang vận hành hiệu quả và vượt xa kỳ vọng
				p Chúng tôi đồng hành góp phần nâng cao giá trị tăng trưởng cùng những doanh nghiệp: <strong>Domino's Pizza, Samsonite, Lug.vn, Techzone, Murad, Vgs Shop, Thế giới nước hoa, Coop Mart Online…</strong> bằng những giải pháp tư vấn tổng thể và toàn diện kết hợp cùng những công nghệ hiện đại giúp Website của các doanh nghiệp luôn vận hành ổn định và dễ dàng mở rộng. Song song đó là việc kết nối linh động với các hệ thống ERP, CRM Shipping, cổng thanh toán trực tuyến và cả các phần mềm đặc thù riêng thích hợp cho nhu cầu của từng khách hàng khác nhau.
		.background
			img(src="/img/bg_sky.png", alt="")
		.drone
			img(src="/img/bg_rocket.png", alt="")
	section.home-3.f_1(class="parallax-window" data-parallax="scroll" data-image-src="/img/bg_brand01.jpg")
		.custom-container
			.caption
				h2.title Website thương mại điện tử tương tác thông minh giúp tăng khả năng bán hàng một cách ấn tượng
				ul
					li + Giao diện mắt mắt, mang đậm chất cá nhân hóa của doanh nghiệp và có khả năng tùy biến cao
					li + Thiết kế thân thiện với người dùng trên các thiết bị di động
					li + Ba bước mua hàng nhanh chóng có tích hợp thanh toán và mua hàng thuận tiện
	section.home-3.f_2(class="parallax-window" data-parallax="scroll" data-image-src="/img/bg_brand02.jpg")
		.custom-container
			.caption
				h2.title Mở rộng kênh bán hàng một cách tối đa và cơ hội tiếp cận với các sàn thương mại điện tử lớn
				p Cánh Cam tạo ra những Website E-Commerce bằng những gói giải pháp dành riêng cho các công ty và tập đoàn với những mô hình: B2B (Business to Business), B2C (Business to Customers), C2C (Customers to Customers) và C2B (Customers to Business)…
	section.home-3.f_3(class="parallax-window" data-parallax="scroll" data-image-src="/img/bg_brand03.jpg")
		.custom-container
			.caption
				h2.title Công Nghệ Vượt Trội Kết Hợp Tính Năng Kỹ Thuật Mới Nhất
				ul
					li + Tối ưu hóa SEO tìm kiếm giúp dễ tìm kiếm trên Google
					li + Định hướng, tư vấn website an tòan và bảo mật
					li + Dễ dàng quản lý website với công cụ quản trị (CMS) đơn giản, khoa học
					li + Dễ dàng tích hợp với các phần mềm quản lý hiện có của doanh nghiệp
					li + Dễ dàng chuyển thành phiên bảng Mobile App để tăng tính trung thành của khách hàng
	section.home-4
		.custom-container
			.row
				.col-12
					h2 Khả năng kết nối và tích hợp với các đối tác uy tín
					p Cánh Cam Web Design luôn đồng hành cùng nhiều đối tác lớn để có thể hỗ trợ kết nối cùng nhiều kênh bán hàng như: Zalo, Lazada, Tiki, Facebook…Bên cạnh đó Website E-commerce linh động với khả năng tích hợp đầy đủ các ứng dụng về Giao hàng, thanh toán, tồn kho, chat trực tiếp với khách hàng...
			.row
				.item
					figure
						img(src="/img/icon_1.png", alt="")
						figcaption
							h4 Kênh bán hàng
				.item
					figure
						img(src="/img/icon_2.png", alt="")
						figcaption
							h4 Cổng Thanh Toán
				.item
					figure
						img(src="/img/icon_3.png", alt="")
						figcaption
							h4 Kết nối Erp, CRM
				.item
					figure
						img(src="/img/icon_4.png", alt="")
						figcaption
							h4 Công nghệ
	section.home-3.f_4(class="parallax-window" data-parallax="scroll" data-image-src="/img/bg_brand04.jpg")
		.custom-container
			.caption
				h2.title Những con số biết nói chứng minh cho hiệu quả thực tế
				p Với hơn <strong>1200 đơn hàng online</strong> trong 1 tháng, tỷ lệ kênh online chiếm <strong>38%</strong>, doanh số <strong>3,5 tỷ mỗi tháng</strong> và liên tục <strong>tăng 14%</strong> ở năm tiếp theo là những con số cụ thể chỉ sau một thời gian ngắn vận hành của Sonycenter.vn - “đứa con” đầu tiên về e-commerce của Sony Việt Nam.
	section.home-5.f_1(class="parallax-window" data-parallax="scroll" data-image-src="/img/bg_wood1.jpg" data-speed="0.1")
		.custom-container
			.row
				.col-12
					h2 Đã thiết kế
				.col-12
					.swiper-container
						.swiper-wrapper
							.swiper-slide
								a(href="#")
									img(src="/img/tip1.png", alt="")
							.swiper-slide
								a(href="#")
									img(src="/img/tip2.png", alt="")
							.swiper-slide
								a(href="#")
									img(src="/img/tip3.png", alt="")
						.swiper-navigation
							.swiper-button-prev
							.swiper-button-next
	section.home-5.f_2
		.custom-container
			.row
				.col-12
					h2 Khách hàng của Cánh Cam
			.row
				- for(i = 0;i<30;i++)
					.item
						img(src="/img/partner.png", alt="")