@import ../../components/_core/color.sass


.home-1
	position: relative
	color: white
	height: 767px
	.background-mobile
		@media (min-width: 992px)
			display: none
	.background
		overflow: hidden
		display: flex
		justify-content: center
		align-items: center
		position: relative
		height: 100%
		@media (max-width: 991.9px)
			display: none
		img
			width: 100%
			animation-duration: 9s
			animation-fill-mode: both
			animation-timing-function: linear
			animation-delay: 0.2s
	.caption
		position: absolute
		top: 50%
		left: 0
		width: 100%
		@media (min-width: 1200px)
			transform: translateY(-35%)
			opacity: 0
			&.animation-active
				transition: all .4s linear
				transform: translateY(-50%)
				opacity: 1
		.container-large
			display: flex
		h1
			font-weight: 200
			font-size: 48px
			line-height: 54px
			min-width: 640px
			margin-bottom: 0
			flex: 0 0 36%
			letter-spacing: -0.1rem
			animation-duration: 1.2s
			animation-fill-mode: both
			animation-timing-function: ease
			animation-delay: 1s
	@media (max-width: 1199.9px)
		height: unset
		.caption
			height: 100%
			display: flex
			justify-content: center
			align-items: center
			top: 0
			transform: unset
			opacity: 0
			&.animation-active
				transition: all .4s linear
				opacity: 1
	@media (max-width: 991.9px)
		.background-mobile
			background: black
			img
				opacity: .6
		.background
			background: black
			img
				opacity: .6
		.caption
			h1
				font-size: 32px
				text-align: center
				line-height: 1.5
				margin-top: 500px
	@media (max-width: 767.9px)
		.caption
			h1
				font-size: 29px
				min-width: 100%
				margin-top: 400px
	
	@media (max-width: 575.9px)
		.caption
			h1
				font-size: 26px
				min-width: 100%
				margin-top: 200px
	

.home-2
	padding: 45px 0
	text-align: center
	position: relative
	p:last-child
		text-align: center
		margin-top: 12px
		img
			margin: auto
			width: auto
	h2
		font-weight: 500
		letter-spacing: 1px
		text-transform: uppercase
		color: #222222
	h3
		letter-spacing: -0.05rem
		font-weight: 200
	@media (min-width: 992px)
		padding: 80px 0
		.textbox
			max-width: 730px
			margin: 0 auto
		h2
			font-size: 18px
			line-height: 20px
			margin-bottom: 20px
		h3
			max-width: 740px
			margin: 0 auto
			margin-bottom: 20px
			font-size: 48px
			line-height: 44px
		p
			font-size: 18px
			line-height: 26px
			font-weight: 300
			margin: 0 auto
			margin-top: 10px
			margin-bottom: 20px
			max-width: 730px
			strong, p
				font-weight: 700
	.background
		position: absolute
		bottom: 0
		right: 0
		img
			width: 100%
	.drone
		position: absolute
		left: 40px
		bottom: 0
		z-index: 9
	@media (max-width: 1199.98px)
		.background
			width: 300px
	@media (max-width: 991.9px)
		padding: 40px 0 90px
		h2
			font-size: 14px
			margin-bottom: 5px
		h3
			font-size: 26px
			line-height: 30px
			margin-bottom: 10px
		p
			text-align: justify
			font-size: 15px
		.drone
			display: none
		.background
			width: 180px
	&.f_2
		color: white
		@media (max-width: 991.9px)
			background: url("../img/bg_wood2.jpg")
		.swiper-container
			max-width: 820px
			margin: 0 auto
		h2
			color: white
			font-weight: 200
			letter-spacing: -0.1rem
			margin-bottom: 20px
			font-size: 48px
			line-height: 54px
			text-transform: none
		.mdi
			font-size: 24px
			line-height: 1
			@media (min-width: 992px)
				font-size: 48px
		h3
			font-size: 16px
			font-weight: 300
			line-height: 30px
			margin-bottom: 14px
			@media (min-width: 992px)
				font-size: 24px
		span 
			font-size: 24px
			font-weight: 900
		p:last-child
			text-align: center
		@media (max-width: 991.9px)
			h3
				line-height: 1.5
			h2
				font-size: 30px
				margin-bottom: 15px
				line-height: 34px
.home-3
	color: white
	.textbox
		width: 720px
		max-width: 100%
		h3
			color: white
			font-size: 18px
			font-weight: 500
			letter-spacing: 1px
			text-transform: uppercase
			line-height: 20px
			margin-bottom: 14px
		h2
			letter-spacing: -0.05rem
			font-weight: 600
			margin-bottom: 20px
			font-size: 36px
			line-height: 40px
		ul, li, p
			font-weight: 300
			font-size: 24px
			line-height: 30px
		li, p
			margin-bottom: 14px
			&:last-child
				margin-bottom: 0
		strong
			font-weight: 700
		@media (max-width: 991.9px)
			h2
				font-size: 26px
				margin-bottom: 15px
				line-height: 34px
			h2, h3
				margin-bottom: 8px
			ul, li, p
				font-size: 16px
				line-height: 1.5
				margin-bottom: 0
	.container-large
		padding: 45px 15px
		// @media (max-width: 991.9px)
		// 	position: relative
		// 	&:after
		// 		content: ''
		// 		position: absolute
		// 		top: 100%
		// 		left: 50%
		// 		transform: translateX(-50%)
		// 		border-color: #6AB4DC transparent transparent transparent
		// 		border-width: 8px 8px 0 8px
		// 		border-style: solid
	@media (min-width: 992px)
		padding: 0 0
		display: flex
		align-items: center
		.container-large
			padding: 0 15px
		.bg-mobile
			display: none
	&.f_1
		@media (max-width: 991.9px)
			background: #db3f20
	&.f_2
		@media (max-width: 991.9px)
			background: #51bdd7
	&.f_3
		@media (max-width: 991.9px)
			background: #7f716b
	&.f_4
		@media (max-width: 991.9px)
			background: #4fbbd5
		.textbox
			width: 640px
			max-width: 100%
			.number
				display: flex
				flex-wrap: wrap
				padding-top: 30px
				margin: 0 -15px
				.item
					padding: 0 15px
					flex: 0 0 25%
					max-width: 25%
					h5
						font-weight: 700
						letter-spacing: -0.1rem
						margin-bottom: 20px
						font-size: 48px
						line-height: 54px
					span
						font-style: italic
						font-size: 18px
						line-height: 22px
						transition: all 0.3s ease
						color: #fff
				@media (max-width: 991.9px)
					.item
						flex: 0 0 50%
						max-width: 50%
						margin-bottom: 15px
						text-align: center
						h5
							font-size: 40px
							margin-bottom: 8px
						span
							font-size: 16px
.home-4
	padding: 80px 0px
	text-align: center
	.textbox
		max-width: 730px
		margin: 0 auto
	h2
		letter-spacing: -0.1rem
		margin-bottom: 20px
		font-weight: 400
		font-size: 30px
		line-height: 36px
		@media (max-width: 991.9px)
			font-size: 26px
			line-height: 34px
	p
		margin: 10px auto 20px auto
		max-width: 100%
		font-size: 18px
		line-height: 26px
		font-weight: 300
		@media (max-width: 991.9px)
			font-size: 16px
			line-height: 22px
	strong
		font-weight: 700
	.item
		flex: 0 0 50%
		max-width: 50%
		padding: 0 15px
		@media (min-width: 992px)
			flex: 0 0 25%
			max-width: 25%
		figure
			margin-bottom: 16px
			@media (min-width: 992px)
				margin-bottom: 0
			img
				width: 100%
			figcaption
				h4 
					letter-spacing: -0.02rem
					font-size: 24px
					line-height: 36px
					font-weight: 400
					margin-top: 10px
					margin-bottom: 10px
					@media (max-width: 992px)
						font-size: 20px
						line-height: 30px
	@media (max-width: 991.9px)
		padding: 40px 0px
.home-5
	padding: 80px 0px
	display: block
	@media (max-width: 991.9px)
		padding: 40px 0
	h2
		font-weight: 200
		letter-spacing: -0.1rem
		margin-bottom: 20px
		font-size: 48px
		line-height: 54px
		text-align: center
		color: #0a0a0a
		@media (max-width: 991.9px)
			font-size: 30px
			margin-bottom: 15px
			line-height: 34px
	&.f_1
		.swiper-container
			.swiper-slide
				padding: 20px 30px
				transition: all .3s ease-out
				img
					border-radius: 8px
					overflow: hidden
					width: 100%
					box-shadow: 0 0 20px rgba(0,0,0,.2)
					transition: all .3s ease-out
				&:hover
					img
						transform: scale(1.05)
			.swiper-navigation
				[class*="swiper-button-"]
					background: none
					background: black
					width: 35px
					height: 35px
					display: flex
					justify-content: center
					align-items: center
					&:focus
						outline: none
					&:before
						display: inline-block
						font: normal normal normal 24px/1 "Material Design Icons"
						font-size: inherit
						text-rendering: auto
						line-height: inherit
						-webkit-font-smoothing: antialiased
						-moz-osx-font-smoothing: grayscale
						color: white
						font-size: 30px
						color: white
				.swiper-button-prev
					&:before
						content: '\f141'
				.swiper-button-next
					&:before
						content: '\f142'
	&.f_2
		h2
			margin-bottom: 35px
		.row
			@media (max-width: 767.9px)
				margin: 0 -8px
		.item
			flex: 0 0 33.3333%
			max-width: 33.3333%
			padding: 0 8px
			margin-bottom: 16px
			img
				width: 100%
				transition: all .3s ease-out
			// @media (min-width: 576px)
			// 	flex: 0 0 33.3333%
			// 	max-width: 33.3333%
			@media (min-width: 768px)
				flex: 0 0 25%
				max-width: 25%
				padding: 0 15px
				margin-bottom: 20px
			@media (min-width: 922px)
				flex: 0 0 16.6666%
				max-width: 16.6666%
				&:hover
					img
						transform: scale(1.05)
						box-shadow: 0 0 5px map-get($mau, main)
.contact
	padding: 80px 0px
	background-image: url(../img/bg_creammarble.jpg)
	@media (max-width: 991.9px)
		padding: 40px 0
	h2 
		font-weight: 200
		letter-spacing: -0.1rem
		margin-bottom: 20px
		font-size: 48px
		line-height: 54px
	h4
		text-transform: uppercase
		font-weight: 700
		font-size: 26px
		line-height: 32px
	p
		font-size: 16px
		line-height: 26px
		font-weight: 300
		margin: 0 auto
		margin-top: 10px
		margin-bottom: 20px
		max-width: 730px
		display: flex
		flex-direction: column
	a
		font-size: 16px
		color: black
		text-decoration: underline
		&:hover
			color: map-get($mau, main)
	.form-group
		margin: 0 0 1.7rem
		position: relative
		display: flex
		flex-direction: column
		.fa-exclamation-triangle
			color: red
			font-size: 13px
			margin-left: auto

	input:not([type="submit"]), select, textarea
		border-radius: 0px
		border: 1px solid #2f3033
		height: 45px
		font-size: 13px
		color: #000000
		background-color: transparent
		display: block
		box-sizing: border-box
		width: 100%
		box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1)
		transition: box-shadow 0.5s, border-color 0.25s ease-in-out
		-webkit-appearance: none
		padding: 0 8px
		&:focus
			border: 1px solid map-get($mau, main)
			outline: none
			box-shadow: 0 0 5px #cacaca
	textarea
		height: 190px
		margin-bottom: 0
	.form-wrapper
		p
			font-size: 14px
			color: #464646
			line-height: 26px
			font-weight: 300
			margin: 10px auto
		.col-md-6
			@media (max-width: 767.98px)
				flex: 0 0 100%
				max-width: 100%
	.col-lg-4
		@media (max-width: 991.988px)
			flex: 0 0 100%
			max-width: 100%
			margin-bottom: 20px
	.col-lg-8
		@media (max-width: 991.988px)
			flex: 0 0 100%
			max-width: 100%
	.frm-btnwrap
		label
			display: none
		.frm-btn
			display: flex
			justify-content: center
			input[type="submit"]
				background: none
				border: 0
				letter-spacing: -0.02rem
				font-size: 24px
				line-height: 36px
				font-weight: 400
				margin-top: 10px
				margin-bottom: 10px
				text-decoration: underline
				&:focus
					outline: none