extends ../_layout.pug

block var
	- title = 'Index'
	- path = "index"
	- bodyClass = 'index-page'

block main
	.progress-bar#progress-bar
	section.home-1
		.background
			img(src="./img/bg_banner.jpg", alt="")
		.caption
			.container-large
				h1 Chúng tôi là chuyên gia tạo ra website bán hàng Hiệu quả giúp doanh nghiệp gia tăng đơn hàng và tỷ lệ khách hàng trung thành
	section#target-1.home-2.f_1
		.container
			.textbox
				h2 CÁNH CAM - WEB DESIGN AGENCY
				h3 Với kinh nghiệm 12 năm, Cánh Cam đã xây dựng thành công hơn 100 Website thương mại điện tử đang vận hành hiệu quả vượt xa kỳ vọng
				p Chúng tôi đồng hành góp phần nâng cao giá trị tăng trưởng cùng những doanh nghiệp: <strong>Domino's Pizza, Samsonite, Lug.vn, Techzone, Murad, Vgs Shop, Thế giới nước hoa, Coop Mart Online…</strong> bằng những giải pháp tư vấn tổng thể và toàn diện kết hợp cùng những công nghệ hiện đại giúp Website của các doanh nghiệp luôn vận hành ổn định và dễ dàng mở rộng. Song song đó là việc kết nối linh động với các hệ thống ERP, CRM Shipping, cổng thanh toán trực tuyến và cả các phần mềm đặc thù riêng thích hợp cho nhu cầu của từng khách hàng khác nhau.
				p
					img(src="./img/triangle_down.png", alt="")
		.background
			img(src="./img/bg_sky.png", alt="")
		.drone
			img(src="./img/bg_rocket.png", alt="")
	section#target-2.home-3.f_1
		.container-large
			.textbox
				h3 GIÚP KHÁCH HÀNG CỦA BẠN
				h2 Tương tác dễ dàng - Mua hàng nhanh chóng
				ul
					li + Giao diện ấn tượng với tốc độ load trang tối ưu
					li + 3 Bước mua hàng cực kì đơn giản
					li + Thiết kế thân thiện với mọi thiết bị di động
		.bg-mobile
			img(src="./img/bg_brand01.jpg", alt="")
	section#target-3.home-3.f_2
		.container-large
			.textbox
				h3 GIÚP DOANH NGHIỆP BẠN
				h2 Tăng trưởng doanh thu - Khẳng định thương hiệu
				ul
					li + Mô hình website bán hàng đa dạng: B2B, B2C,...
					li + Gia tăng tỷ lệ chuyển đổi khách hàng
					li + Nâng cao lòng trung thành thương hiệu của khách hàng
		.bg-mobile
			img(src="./img/bg_brand02.jpg", alt="")
	section#target-4.home-3.f_3
		.container-large
			.textbox
				h3 CHÚNG TÔI CÓ GÌ?
				h2 Công nghệ hiện đại - Tính năng phong phú
				ul
					li + Tối ưu hóa SEO Onepage
					li + An toàn, bảo mật cao theo tiêu chuẩn OWASP
					li + Quản trị và vận hành đơn giản
					li + Tích hợp các phần mềm nhanh chóng
					li + Dễ dàng chuyển đổi thành Mobile App
		.bg-mobile
			img(src="./img/bg_brand03.jpg", alt="")
	section#target-5.home-4
		.container
			.textbox
					h2 CÁNH CAM XÂY DỰNG WEBITE BÁN HÀNG BẰNG CÔNG NGHỆ HIỆN ĐẠI, KHẢ NĂNG TÍCH HỢP CAO GIÚP MỞ RỘNG KÊNH BÁN HÀNG ONLINE MỘT CÁCH ĐỐI ĐA
					p Cánh Cam Web Design luôn đồng hành cùng nhiều đối tác lớn để có thể hỗ trợ kết nối cùng nhiều kênh bán hàng như: Zalo, Lazada, Tiki, Facebook…Bên cạnh đó Website E-commerce linh động với khả năng tích hợp đầy đủ các ứng dụng về Giao hàng, thanh toán, tồn kho, chat trực tiếp với khách hàng...
			.row
				.item
					figure
						img(src="./img/icon_1.png", alt="")
						figcaption
							h4 Kênh bán hàng
				.item
					figure
						img(src="./img/icon_2.png", alt="")
						figcaption
							h4 Cổng Thanh Toán
				.item
					figure
						img(src="./img/icon_3.png", alt="")
						figcaption
							h4 Kết nối Erp, CRM
				.item
					figure
						img(src="./img/icon_4.png", alt="")
						figcaption
							h4 Công nghệ
	section.home-3.f_4
		.container-large
			.textbox
				h2 Những con số biết nói chứng minh cho hiệu quả thực tế
				p Với hơn 1200 đơn hàng online trong 1 tháng, tỷ lệ kênh online chiếm 38%, doanh số 3,5 tỷ mỗi tháng và liên tục tăng 14% ở năm tiếp theo là những con số cụ thể chỉ sau một thời gian ngắn vận hành của Sonycenter.vn - Website đầu tiên về e-commerce của Sony Việt Nam.
				.number
					.item
						h5 1200+
						span đơn hàng online/ tháng
					.item
						h5 38%
						span tỷ lệ kênh online
					.item
						h5 3,5 tỷ
						span doanh số mỗi tháng
					.item
						h5 14%
						span tăng doanh số năm tiếp theo
		.bg-mobile
			img(src="./img/bg_brand04.jpg", alt="")
	section.home-5.f_1
		.container-medium
			.row
				.col-12
					h2 Đã thiết kế
				.col-12
					.swiper-container
						.swiper-wrapper
							.swiper-slide
								a(href="#")
									img(src="./img/tip1.png", alt="")
							.swiper-slide
								a(href="#")
									img(src="./img/tip2.png", alt="")
							.swiper-slide
								a(href="#")
									img(src="./img/tip3.png", alt="")
						.swiper-navigation
							.swiper-button-prev
							.swiper-button-next
	section.home-5.f_2
		.container
			h2 Khách hàng của Cánh Cam
			.row
				- for(i = 0;i<30;i++)
					.item
						img(src="./img/partner.png", alt="")
	section.home-2.f_2
		.container
			h2 Testimonial
			san.mdi.mdi-quote-close
			.swiper-container
				.swiper-wrapper
					.swiper-slide
						.textbox
							h3 Nền tảng kỹ thuật của website SonyCenter được xây dựng vững, nên rất ít khi có lỗi, đặc biệt về mặt bảo mật, web luôn đáp ứng được chuẩn cao nhất từ tập đoàn Sony đề ra khi vận hành website e-commerce. Ngoài ra, đội ngũ Cánh Cam đã đáp ứng tốt những hỗ trợ về kỹ thuật &amp; tư vấn vận hành, việc này giúp website ổn định, xử lý sự cố được nhanh chóng, đảm bảo sự hài lòng cho khách hàng của chúng tôi.
							span ...
							p
								strong Lý Anh Quân 
								| Sony Center Management - South Sales Dept.
					.swiper-slide
						.textbox
							h3 Nền tảng kỹ thuật của website SonyCenter được xây dựng vững, nên rất ít khi có lỗi, đặc biệt về mặt bảo mật, web luôn đáp ứng được chuẩn cao nhất từ tập đoàn Sony đề ra khi vận hành website e-commerce. Ngoài ra, đội ngũ Cánh Cam đã đáp ứng tốt những hỗ trợ về kỹ thuật &amp; tư vấn vận hành, việc này giúp website ổn định, xử lý sự cố được nhanh chóng, đảm bảo sự hài lòng cho khách hàng của chúng tôi.
							span ...
							p
								strong Lý Anh Quân 
								| Sony Center Management - South Sales Dept.
					.swiper-slide
						.textbox
							h3 Nền tảng kỹ thuật của website SonyCenter được xây dựng vững, nên rất ít khi có lỗi, đặc biệt về mặt bảo mật, web luôn đáp ứng được chuẩn cao nhất từ tập đoàn Sony đề ra khi vận hành website e-commerce. Ngoài ra, đội ngũ Cánh Cam đã đáp ứng tốt những hỗ trợ về kỹ thuật &amp; tư vấn vận hành, việc này giúp website ổn định, xử lý sự cố được nhanh chóng, đảm bảo sự hài lòng cho khách hàng của chúng tôi.
							span ...
							p
								strong Lý Anh Quân 
								| Sony Center Management - South Sales Dept.
	section.contact
		.container
			.row
				.col-lg-4
					h2 Liên hệ
					h4 CÁNH CAM AGENCY
					p 
						span 156 Nguyễn Văn Thủ, Quận 1, Tp. HCM
						span Hotline: 028 6273 0815
					a(href="mailto:info@canhcam.vn") info@canhcam.vn
				.col-lg-8
					.Module.Module-160
						.ModuleContent
							div
								.wrap-form
									div
										.form-wrapper.row
											.col-md-6
												.form-group.qtext.require
													input(placeholder='Họ và tên...')
													span.fa.fa-exclamation-triangle(style='display:none;') Vui lòng nhập Họ và tên....
												.form-group.qtext.require
													input(placeholder='Email...')
													span.fa.fa-exclamation-triangle(style='display:none;') Vui lòng nhập Email....
												.form-group.qtext.require
													input(placeholder='Số điện thoại...')
													span.fa.fa-exclamation-triangle(style='display:none;') Vui lòng nhập Số điện thoại....
												.form-group.qtext.require
													select
														option(value="") Bạn biết đến cánh cam như thế nào?
														option(value="") Bạn biết đến cánh cam như thế nào?
														option(value="") Bạn biết đến cánh cam như thế nào?
														option(value="") Bạn biết đến cánh cam như thế nào?
														option(value="") Bạn biết đến cánh cam như thế nào?
													span.fa.fa-exclamation-triangle(style='display:none;') Vui lòng nhập Tiêu đề....
											.col-md-6
												.form-group.qparagraph.require
													textarea(placeholder='Nội dung...')
													span.fa.fa-exclamation-triangle(style='display:none;') Vui lòng nhập Nội dung....
												.form-group.qparagraph.require
													p * Vui lòng điền vào tất cả các trường được đánh dấu *
												.form-group.frm-btnwrap
													label.label  
													.frm-btn
														input.btn.btn-default.frm-btn-submit(type='submit', value='Gửi')
														input(type='hidden')
												.clear
	.backtotop
		.v-align
			img(src='./img/backtotop.svg')
			span TOP
