footer
	.container-large
		.row
			.left
				p COPYRIGHT © 2019 CÁNH CAM.
				a(href="#") ĐIỀU KHOẢN SỬ DỤNG
				a(href="#") CHÍNH SÁCH BẢO MẬT
				a(href="#") SITEMAP
			.right
				a(href="#")
					span.fab.fa-facebook-f
				a(href="#")
					span.fab.fa-twitter
				a(href="#")
					span.fab.fa-youtube