header.ldp-header
	//- .main-nav-toggle
	//- 	span
	//- 	span
	//- 	span
	.container-large.header-container
		.logo
			a(href="https://canhcam.vn/")
				img(src="./img/mainlogo.svg", alt="")
		.main-nav
			ul
				li
					a(href="#target-1") Giới thiệu
				li
					a(href="#target-2") Đối với người dùng
				li
					a(href="#target-3") Đối với doanh nghiệp
				li
					a(href="#target-4") Công nghệ
				li
					a(href="#target-5") Đối tác
				li
					a(href="#target-6") Đã thiết kế
				li
					a(href="#target-7") Liên hệ
		//- .language
		//- 	ul
		//- 		li
		//- 			a(href="#") VN
		//- 		li.active
		//- 			a(href="#") EN