header.ldp-header
	.main-nav-toggle
		span
		span
		span
	.custom-container.header-container
		.logo
			a(href="/")
				img(src="/img/mainlogo.svg", alt="")
		.main-nav
			ul
				li
					a(href="#") Giới thiệu
				li
					a(href="#") Đối với người dùng
				li
					a(href="#") Đối với doanh nghiệp
				li
					a(href="#") Tính năng kỹ thuật
				li
					a(href="#") Đối tác
				li
					a(href="#") Đã thiết kế
				li
					a(href="#") Liên hệ
		.language
			ul
				li
					a(href="#") VN
				li.active
					a(href="#") EN